gradio 
psutil
openai 
gtts 
numpy 
requests 
whisper 
groq
langdetect
pydub
SpeechRecognition
gTTS
python-dotenv
pydantic==2.9 
uvicorn==0.30
fastapi
sqlalchemy
psycopg2-binary   # Driver PostgreSQL
alembic           # Migration DB
python-jose[cryptography]  # JWT
passlib[bcrypt]   # Hashage mots de passe
PyMySQL
social-auth-core[openidconnect]
python-jose>=3.0.0
starlette
fastapi-limiter 
redis
aioredis